
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssnormalize/cssnormalize-min.css">
    <style>
        body{
            display: inline-flex;
        }
        form {
            width: fit-content;
            height: fit-content;
            border: solid gray 2px;
            margin-left: 10px;
        }
        form > *{
            
            display: list-item;
            list-style: none;
            padding: 5px ;
            margin: 8px;

        }

        img {
            width:60em;
            height: 30em;
        }
    </style>
    <title>Login</title>
</head>
<body>
    <div>
    <h3>Welcome abord. You can search movies and know their summary. But you need to have an account first.</h3>
    <img src="/images/Screenshot_1.jpeg" alt="IMAGE">
    </div>
    <div style="margin:  0em 0em 0em 10em;">
        <% if (messages.error) { %>
            <%= messages.error %>
          <% } %>
    <h2 style="text-decoration: underline; color : darkslategray; margin-left: 5px;">Register</h2>
    <br>
    <form action="/register" method="POST">
        <label for="name"> Name </label>
        <input type="text" id="name" name="name" placeholder="Enter your Name" required>
        <label for="InputEmail">Email address</label>
        <input type="email" id="InputEmail" name="email" placeholder="Enter your Email" required>
        <label for="Password">Password</label>
        <input type="password" id="Password" name="password" placeholder="Enter password" required>
        <button type="submit" id="button">Register</button>
    </form>
</body>
</html>